/logs/*
.idea
*~
*.pyc
*.pyo
*.log
*.iml
*__pycache__/
*.cache
*key.dat
*appstack.yml
/project/modules/gatling_runner/download/*
/project/applications/sample-apps/sample-java-application/target/*
/project/applications/**/vendor/
.cache
*.iml
project/target/*
target/*
*user_config*
/project/applications/data-repo/files
