Flask==0.10.1
Flask_restful==0.3.5
Flask-Script==2.0.5
Gunicorn==19.3.0
Pyorient==1.4.9
Requests==2.10.0
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.9
aniso8601==1.1.0
itsdangerous==0.24
python-dateutil==2.5.3
pytz==2016.4
six==1.10.0
